body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.map {
  height: 100vh;
  width: 100vw;
}

header {
  position: fixed;
  top: 8px;
  left: 8px;
  background: #fff;
  padding: 16px;
  z-index: 2;
}

header h1 {
  margin: 0;
  font-size: 1rem;
}

header a {
  font-size: 0.8rem;
}

header ul {
  margin: 16px 0 0 0;
  list-style: none;
  font-size: 0.8rem;
  padding: 0;
}

header li {
  margin: 0;
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 8px;
}

header i {
  font-size: 0.75rem;
}

.bull {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}

.mapboxgl-popup-content {
  padding: 1rem;
  max-width: 180px;
}

.mapboxgl-popup-content img {
  max-width: 100%;
  max-height: 68px;
}

.button {
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  list-style: none;
  padding: 0.5rem 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
}
